.game-parent-container {
  background-color: var(--color-light-gray);
  min-height: 100vh;
}
.game-title {
  padding-top: 3rem;
  text-align: center;
}
.parent-quiz-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  margin-top: 5rem;
}
.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

.navigation-buttons button {
  padding: 1rem;
  width: 18rem;
  color: var(--color-purple);
  border: 1px solid var(--color-purple);
  border-radius: 1rem;
  font-family: inherit;
  text-transform: uppercase;
}
@media screen and (max-width: 30em) {
  .navigation-buttons button {
    font-size: 1rem;
    width: auto;
  }
}
.navigation-buttons button:hover {
  background-color: var(--color-purple);
  color: #fff;
}

.parent-list-container {
  display: flex;
  gap: 2rem;
}

.unordered-list li {
  display: flex;
  align-items: center;
  gap: 2rem;
  line-height: 4rem;
}
.check-box {
  appearance: none;
  border: 0.5px solid var(--color-blue-dark);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-right: 0.5rem;
  position: relative;
}
.check-box:checked::after {
  content: "✔";
  font-size: 1.5rem;
  color: var(--color-light-green);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.score-display {
  font-size: 1.5rem;
  color: var(--color-light-green);
  margin-bottom: 1rem;
}

.finish button {
  padding: 1rem;
  border: 1px solid var(--color-light-green);
  color: var(--color-light-green);
  width: 30rem;
  border-radius: 2rem;
}
.finish button:hover {
  font-family: inherit;
  color: inherit;
  color: #fff;
  background-color: var(--color-light-green);
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.final-score {
  color: var(--color-light-green);
  font-size: 900;
  font-size: 2rem;
}
.start-challenge {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-button {
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--color-light-green);
  color: var(--color-light-green);
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.start-button:hover {
  background-color: var(--color-light-green);
  color: #fff;
}
